.containerNotFound{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}
.containerNotFound img{
    width: 15rem;
    height: 15rem;
}